<!DOCTYPE html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="/js/app.js"></script>
</head>
<html>
<body>
    <div class="main-content">
        {{>header}}
        <h4>{{helpText}}</h4>
    </div>
    {{>footer}}

</body>
</html>